.header-section {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.logo {
  float: left;
  a {
    display: inline-block;
    padding: 24px 0 29px;
  }
}

.nav-menu {
  float: right;
  .mainmenu {
    display: inline-block;
    ul {
      li {
        list-style: none;
        display: inline-block;
        margin-right: 27px;
        a {
          font-size: 16px;
          color: #ffffff;
          font-weight: 600;
          padding: 6px 0;
          position: relative;
        }
        :hover {
          opacity: 1;
          border-bottom: solid 2px #f15d44 !important;
        }
      }

    }
  }
  .signup-btn {
    display: inline-block;
    margin: 16px 0px 16px 30px;
  }
}

a {
  text-decoration: none;
}
