<header class="header-section">
  <div class="container">
    <div class="logo">
      <a href="./index.html">
        <img src="assets/images/logo.jpg" alt="">
      </a>
    </div>
    <div class="nav-menu">
      <nav class="mainmenu mobile-menu">
        <ul>
          <li><a [routerLink]="'/home'">Home</a></li>
          <li><a [routerLink]="'/about'">About</a></li>
          <li><a href="#">Classes</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Contacts</a></li>
          <li><a [routerLink]="'/auth/login'">Login</a></li>
        </ul>
      </nav>
      <a  class="primary-btn signup-btn" [routerLink]="'/auth/register'">Sign Up Today</a>
    </div>
  </div>
</header>

<ng-content></ng-content>



