<app-header>
  <section class="breadcrumb-section set-bg" data-setbg="assets/images/classes-breadcrumb.webp" style="background-image: url(&quot;assets/images/classes-breadcrumb.webp&quot;);">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb-text">
            <h2>About</h2>
            <div class="breadcrumb-option">
              <a href="#"><i class="fa fa-home"></i> Home &nbsp;</a>
              <span>&nbsp;About</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</app-header>

<app-story-about-us></app-story-about-us>

<app-get-training></app-get-training>

<app-trainers></app-trainers>

<app-footer-baner></app-footer-baner>

<app-footer></app-footer>

