.banner-section {
  padding-top: 65px;
}

.banner-text {
  padding-top: 145px;
  h2 {
    font-size: 40px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 50px;
  }
}
