<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="section-title">
        <h2>UNLIMITED CLASSES</h2>
      </div>
    </div>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col d-block w-10" alt="First slide">
             <div class="card mb-4 card-width">
               <img class="card-img-top" src="assets/images/classes-1.jpg" alt="Card image cap">
               <div class="card-body card-des white">
                 <h4 class="mb-0">Personal Training</h4>
                 <i class="fa fa-user color" aria-hidden="true"></i>&nbsp; <span>Ryan scott</span>
               </div>
             </div>

             <div class="card mb-4 card-width">
               <img class="card-img-top" src="assets/images/classes-3.jpg" alt="Card image cap">
                 <div class="card-body card-des white">
                   <h4 class="mb-0">Yoga</h4>
                   <i class="fa fa-user color" aria-hidden="true"></i>&nbsp; <span>Ryan scott</span>
                 </div>
             </div>
           </div>

           <div class="col d-block w-10" alt="Second slide">
             <div class="card mb-4 card-width">
               <img class="card-img-top" src="assets/images/classes-5.jpg" alt="Card image cap">
               <div class="card-body card-des white">
                 <h4 class="mb-0">Running</h4>
                 <i class="fa fa-user color" aria-hidden="true"></i>&nbsp; <span>Ryan scott</span>
               </div>
             </div>

             <div class="card mb-4 card-width">
               <img class="card-img-top" src="assets/images/classes-4.jpg" alt="Card image cap">
               <div class="card-body card-des white">
                 <h4 class="mb-0">Weight Loss</h4>
                 <i class="fa fa-user color" aria-hidden="true"></i>&nbsp; <span>Ryan scott</span>
               </div>
             </div>
           </div>

           <div class="col d-block w-10" alt="Second slide">
             <div class="card mb-4 card-width">
               <img class="card-img-top" src="assets/images/classes-7.jpg" alt="Card image cap">
               <div class="card-body card-des white">
                 <h4 class="mb-0">Dance</h4>
                 <i class="fa fa-user color" aria-hidden="true"></i>&nbsp; <span>Ryan scott</span>
               </div>
             </div>

             <div class="card mb-4 card-width">
               <img class="card-img-top" src="assets/images/classes-8.jpg" alt="Card image cap">
               <div class="card-body card-des white">
                 <h4 class="mb-0">Karate</h4>
                 <i class="fa fa-user color" aria-hidden="true"></i>&nbsp; <span>Ryan scott</span>
               </div>
             </div>
           </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col d-block w-10" alt="First slide">
             <div class="card mb-4 card-width">
               <img class="card-img-top" src="assets/images/classes-1.jpg" alt="Card image cap">
               <div class="card-body card-des white">
                 <h4 class="mb-0">Personal Training</h4>
                 <i class="fa fa-user color" aria-hidden="true"></i>&nbsp; <span>Ryan scott</span>
               </div>
             </div>

             <div class="card mb-4 card-width">
               <img class="card-img-top" src="assets/images/classes-3.jpg" alt="Card image cap">
                 <div class="card-body card-des white">
                   <h4 class="mb-0">Yoga</h4>
                   <i class="fa fa-user color" aria-hidden="true"></i>&nbsp; <span>Ryan scott</span>
                 </div>
             </div>
           </div>

           <div class="col d-block w-10" alt="Second slide">
             <div class="card mb-4 card-width">
               <img class="card-img-top" src="assets/images/classes-4.jpg" alt="Card image cap">
               <div class="card-body card-des white">
                 <h4 class="mb-0">Running</h4>
                 <i class="fa fa-user color" aria-hidden="true"></i>&nbsp; <span>Ryan scott</span>
               </div>
             </div>

             <div class="card mb-4 card-width">
               <img class="card-img-top" src="assets/images/classes-5.jpg" alt="Card image cap">
               <div class="card-body card-des white">
                 <h4 class="mb-0">Weight Loss</h4>
                 <i class="fa fa-user color" aria-hidden="true"></i>&nbsp; <span>Ryan scott</span>
               </div>
             </div>
           </div>

           <div class="col d-block w-10" alt="Second slide">
             <div class="card mb-4 card-width">
               <img class="card-img-top" src="assets/images/classes-7.jpg" alt="Card image cap">
               <div class="card-body card-des white">
                 <h4 class="mb-0">Dance</h4>
                 <i class="fa fa-user color" aria-hidden="true"></i>&nbsp; <span>Ryan scott</span>
               </div>
             </div>

             <div class="card mb-4 card-width">
               <img class="card-img-top" src="assets/images/classes-6.jpg" alt="Card image cap">
               <div class="card-body card-des white">
                 <h4 class="mb-0">Karate</h4>
                 <i class="fa fa-user color" aria-hidden="true"></i>&nbsp; <span>Ryan scott</span>
               </div>
             </div>
           </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon arrow" aria-hidden="true" style="background-image: none !important;">
        <i class="fa fa-angle-left fa-3x" aria-hidden="true"></i></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon arrow" aria-hidden="true" style="background-image: none !important;">
        <i class="fa fa-angle-right fa-3x" aria-hidden="true"></i></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
