<app-header>
  <section class="breadcrumb-section set-bg" data-setbg="assets/images/classes-breadcrumb.webp" style="background-image: url(&quot;assets/images/classes-breadcrumb.webp&quot;);">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb-text">
            <h2>Contact</h2>
            <div class="breadcrumb-option">
              <a [routerLink]="'/home'"><i class="fa fa-home"></i> Home &nbsp;</a>
              <span>&nbsp;Contact</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</app-header>


<section class="contact-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="contact-info">
          <h4>Contacts Us</h4>
          <div class="contact-address">
            <div class="ca-widget">
              <div class="cw-icon">
                <img src="assets/images/icon-1.png" alt="">
              </div>
              <div class="cw-text">
                <h5>Our Location</h5>
                <p>60-49 Road 11378 New York</p>
              </div>
            </div>
            <div class="ca-widget">
              <div class="cw-icon">
                <img src="assets/images/icon-2.png" alt="">
              </div>
              <div class="cw-text">
                <h5>Phone:</h5>
                <p>+65 11.188.888</p>
              </div>
            </div>
            <div class="ca-widget">
              <div class="cw-icon">
                <img src="assets/images/icon-3.png" alt="">
              </div>
              <div class="cw-text">
                <h5>Mail</h5>
                <p>hellocolorlib@ gmail.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="contact-form">
          <h4>Leave A Comment</h4>
          <form action="#">
            <div class="row">
              <div class="col-lg-6">
                <input type="text" placeholder="Your name">
              </div>
              <div class="col-lg-6">
                <input type="text" placeholder="Your email">
              </div>
              <div class="col-lg-12">
                <textarea placeholder="Your messages"></textarea>
                <button type="submit">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


<app-footer></app-footer>
