.spad {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact-info {
  h4 {
    font-weight: 600;
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 47px;
  }
  .contact-address {
    .ca-widget {
      overflow: hidden;
      margin-bottom: 16px;
      .cw-icon {
        height: 74px;
        width: 74px;
        border: 1px solid #ebebeb;
        border-radius: 50%;
        text-align: center;
        line-height: 74px;
        float: left;
        margin-right: 28px;
      }
      .cw-text {
        padding-top: 12px;
        h5 {
          color: #bdbdbd;
          margin-bottom: 5px;
        }
        p {
          margin-bottom: 0;
          color: #111111;
          font-size: 18px;
        }
      }
    }
  }
}

.contact-form {
  h4 {
    font-weight: 600;
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 47px;
  }
  form {
    input {
      width: 100%;
      height: 51px;
      border: 1px solid #e1e1e1;
      padding-left: 20px;
      font-size: 16px;
      margin-bottom: 30px;
    }
    textarea {
      width: 100%;
      height: 150px;
      border: 1px solid #e1e1e1;
      padding-left: 20px;
      font-size: 16px;
      padding-top: 10px;
      margin-bottom: 42px;
      resize: none;
    }
    button {
      font-size: 14px;
      color: #ffffff;
      padding: 10px 33px;
      display: inline-block;
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#eb3c5a),
        to(#f67831)
      );
      background: -o-linear-gradient(left, #eb3c5a, #f67831);
      background: linear-gradient(to right, #eb3c5a, #f67831);
      border: none;
      text-transform: uppercase;
    }
  }
}
