<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-6">
      <div class="about-pic">
        <img src="assets/images/story about us.jpg" alt="story about us">
        <a href="https://www.youtube.com/watch?v=SlPhMPnQ58k" class="play-btn video-popup">
          <img src="assets/images/play.png" alt="">
        </a>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="about-text">
        <h2>Story About Us</h2>
        <p class="first-para">Lorem ipsum proin gravida nibh vel velit auctor aliquet. Aenean pretium
          sollicitudin, nascetur auci elit consequat ipsutissem niuis sed odio sit amet nibh vulputate
          cursus a amet.</p>
        <p class="second-para">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, gravida
          quam semper libero sit amet. Etiam rhoncus. Maecenas tempus, tellus eget condimentum
          rhoncus, gravida quam semper libero sit amet.</p>
        <a href="#" class="primary-btn">Read More</a>
      </div>
    </div>
  </div>
</div>
