a {
  text-decoration: none;
}

.spad {
  padding-top: 50px;
  padding-bottom: 50px;
}

.all {
  width: 98% !important;
  height: 101.4% !important;
  margin-left: 17x !important;
}

.max {
  max-width: 47% !important;
}

.ml {
  margin-left: 15px;
}
