/* You can add global styles to this file, and also import other style files */
.section-title {
  text-align: center;
  margin-bottom: 45px;
  h2 {
    color: #111111;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #6b6b6b;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}

.white {
  color: white;
}

.arrow {
  :hover {
    color: #f15d44;
  }
}

.color {
  color: #f15d44;
}

.bg-gray {
  background: #1e1e1e;
}

.h-3 {
  height: 3pc;
}

.primary-btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 0 12px;
  color: #ffffff !important;
  text-align: center;
  width: 160px;
  height: 46px;
  border-left: 2px solid #eb3c5a;
  border-right: 2px solid #f67831;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#eb3c5a),
      to(#f67831)
    ),
    -webkit-gradient(linear, left top, right top, from(#eb3c5a), to(#f67831));
  background-image: -o-linear-gradient(left, #eb3c5a 0%, #f67831 100%),
    -o-linear-gradient(left, #eb3c5a 0%, #f67831 100%);
  background-image: linear-gradient(to right, #eb3c5a 0%, #f67831 100%),
    linear-gradient(to right, #eb3c5a 0%, #f67831 100%);
  -webkit-transition-duration: 1000ms;
  -o-transition-duration: 1000ms;
  transition-duration: 1000ms;
  line-height: 45px;
  position: relative;
  z-index: 1;
}

.primary-btn::after {
  color: #fff;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  background: #f67831;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#eb3c5a),
    to(#f67831)
  );
  background: -o-linear-gradient(left, #eb3c5a, #f67831);
  background: linear-gradient(to right, #eb3c5a, #f67831);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 1;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.breadcrumb-section {
  padding-top: 190px;
  height: 400px;
}

.breadcrumb-text {
  text-align: center;
  h2 {
    font-size: 60px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .breadcrumb-option {
    a {
      font-size: 16px;
      color: #fff;
      display: inline-block;
      margin-right: 10px;
      position: relative;
      ::after {
        position: absolute;
        right: -10px;
        top: 0px;
        content: ">";
        font-size: 21px;
        font-family: monospace;
      }
    }
    span {
      font-size: 16px;
      color: #bdbdbd;
      display: inline-block;
    }
  }
}
