.services-pic {
  margin-left: -15px;
  margin-right: -15px;
  img {
    height: 660px;
    min-width: 100%;
  }
}

.services-item {
  margin-left: -15px;
  margin-right: -15px;
  background: #141414;
  padding-top: 130px;
  position: relative;
  padding-left: 70px;
  padding-right: 45px;
  height: 330px;

  img {
    position: absolute;
    left: 70px;
    top: 80px;
  }
  h4 {
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 36px;
    margin-bottom: 20px;
  }
  p {
    color: #bdbdbd;
    margin-bottom: 0;
  }
  .pd-b {
    padding-top: 118px;
  }
}

//

.membership-section {
  padding-bottom: 0;
  .section-title {
    margin-bottom: 55px;
  }
}

.spad {
  padding-top: 100px;
  padding-bottom: 100px;
}

.membership-item {
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 49px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 15px 49px rgba(0, 0, 0, 0.15);
  padding-bottom: 50px;
  .mi-title {
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#eb3c5a),
      to(#f67831)
    );
    background: -o-linear-gradient(left, #eb3c5a, #f67831);
    background: linear-gradient(to right, #eb3c5a, #f67831);
    padding: 25px 0;
    position: relative;
    margin-bottom: 38px;
    h4 {
      color: #ffffff;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  .mi-price {
    font-size: 40px;
    color: #f15d44;
    font-weight: 600;
    margin-bottom: 24px;
    span {
      font-size: 16px;
      color: #6b6b6b;
      font-weight: 400;
    }
  }
  ul {
    margin-bottom: 27px;
    li {
      list-style: none;
      font-size: 16px;
      line-height: 36px;
      p {
        margin-bottom: 0;
        color: #6b6b6b;
      }
      span {
        color: #111111;
        font-weight: 600;
      }
    }
  }
  .membership-btn {
    color: #111111 !important;
  }
}

.membership-item .mi-title:after {
  position: absolute;
  left: 50%;
  bottom: -14px;
  width: 30px;
  height: 15px;
  -webkit-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  transform: translateX(-15px);
  -webkit-clip-path: polygon(0% 0%, 50% 100%, 50% 100%, 100% 0%);
  clip-path: polygon(0% 0%, 50% 100%, 50% 100%, 100% 0%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#eb3c5a),
    to(#f67831)
  );
  background: -o-linear-gradient(left, #eb3c5a, #f67831);
  background: linear-gradient(to right, #eb3c5a, #f67831);
  content: "";
}

a {
  text-decoration: none;
}

.primary-btn::after {
  color: #fff;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  background: none !important;
  background: none !important;
  background: none !important;
  background: none !important;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 1;
}
